* {
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: darkgrey;
    color: black;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#logo {
    display: inline;
    margin: auto;
}

.botones {
    display: inline;
    position: relative;
    left: 20px;
    bottom: 10px;
    border-color: indigo;
    border-width: 8px;
    border-radius: 20%;
}

#botonHome {
    position: relative;
}

#botonHome:hover {
    width: 30px;
    height: 30px;
}

#botonCarrito:hover {
    width: 30px;
    height: 30px;
}

.encabezados {
    width: 100wh;
    height: 40px;
    margin-top: 15px;
    color: white;
}

#encabezadoCategorias {
    background-color: indigo;
}

#encabezadoClasicos {
    background-color: darkgreen;
}

#encabezadoAlternativo {
    background-color: darkblue;
}

#encabezadokawaii {
    background-color: hotpink;
}

#descripcion {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    font-size: 15px;
    color: black;
    height: 50vh;
    text-align: justify;
    text-indent: 150px;
    justify-content: center;
}


/* #principal {
    width: 1000wh;
    height: 400vh;
    background-color: rgb(221, 184, 255);
    background-position: center;
} */


/*Estilos para las pag de categoria*/

#banners {
    height: 30px;
    background-color: darkgrey;
    font-size: 25px;
}

.categorias {
    display: inline;
    width: 250px;
    height: 200px;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 15px;
    color: white;
}

#clasico {
    background-color: darkgreen;
}

#kawaii {
    background-color: hotpink;
}

#alternativo {
    background-color: darkblue;
}

#pie {
    position: relative;
    background-color: darkgrey;
    color: black;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    width: 100wh;
}

#cajaProductos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(136, 136, 136);
    font-size: 18px;
    color: white;
    height: 50vh;
}

.productos {
    display: inline-block;
    position: relative;
    left: 20px;
    bottom: 10px;
    top: 10px;
    margin: 10px;
}


/*estilos para pagina formulario compra*/

#bodyPago {
    background-color: indigo;
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#factura {
    background-color: gray;
}